{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/weather/styles.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Forecast Weather</h1>
            <p>5 Days weather for {{weather.city.name}}.</p>
        </div>
        {% for list in weather.list %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-sm-12 col-xs-12">
                <div class="card p-4">
                    <div class="d-flex">
                        <h6 class="flex-grow-1">{{weather.city.name}}</h6>
                        <h6>{{list.dt_txt}}</h6>
                    </div>
                    <div class="d-flex flex-column temp mt-5 mb-3">
                        <h1 class="mb-0 font-weight-bold" id="heading">{{list.main.temp}} </h1> <span class="small grey">{{list.weather.0.main}}</span>
                    </div>
                    <div class="d-flex">
                        <div class="temp-details flex-grow-1">
                            <p class="my-1"> <img src="https://i.imgur.com/B9kqOzp.png" height="17px"> <span> {{list.wind.speed}} km/h </span> </p>
                            <p class="my-1"> <i class="fa fa-tint mr-2" aria-hidden="true"></i> <span> Feels Like {{list.main.feels_like}} </span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>