{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/weather/styles.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron ">
            <h1>Malaysia Weather</h1>
            <p>Get current and forecast weathers for the next five days</p>
        </div>
        {% for city in weather %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-sm-12 col-xs-12">
                <div class="card p-4">
                    <div class="d-flex">
                        <h6 class="flex-grow-1">{{city.name}}</h6>
                        <!-- <h6>16:08</h6> -->
                    </div>
                    <div class="d-flex flex-column temp mt-5 mb-3">
                        <h1 class="mb-0 font-weight-bold" id="heading">{{city.main.temp}} </h1> <span class="small grey">{{city.weather.0.main}}</span>
                    </div>
                    <div class="d-flex">
                        <div class="temp-details flex-grow-1">
                            <p class="my-1"> <img src="https://i.imgur.com/B9kqOzp.png" height="17px"> <span> {{city.wind.speed}} km/h </span> </p>
                            <p class="my-1"> <i class="fa fa-tint mr-2" aria-hidden="true"></i> <span> Feels Like {{city.main.feels_like}} </span> </p>
                            <p><a href="{% url 'weather:forecast'%}?city={{city.key}}" class="link-secondary">5 days weather ..</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>